NOTION_TOKEN=your_notion_integration_token
NOTION_DB=your_database_id
NOTION_DB_TITLE=Movie / Series
TMDB_TOKEN=your_tmdb_api_read_access_token
NOTION_EMPTY_PROPERTY_MAP={"Director":"rich_text","Poster":"url","Genre":"multi_select","Studio / Distributor":"multi_select","Release Date":"date"}
